<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @client.name %>
</p>

<p>
  <strong>Nit:</strong>
  <%= @client.nit %>
</p>

<p>
  <strong>Direction:</strong>
  <%= @client.direction %>
</p>

<p>
  <strong>Trusted:</strong>
  <%= @client.trusted %>
</p>

<%= link_to 'Edit', edit_client_path(@client) %> |
<%= link_to 'Back', clients_path %>
