<div class="container">
  <p id="notice"><%= notice %></p>

    <h1 align="center"><%= @client.name %></h1>

  <div class="jumbotron">
    <p>
      <strong>Nit:</strong>
      <%= @client.nit %>
    </p>

    <br><br>

    <p>
      <strong>Direction:</strong>
      <%= @client.direction %>
    </p>

    <br><br>

    <p>
      <strong>Trusted costumer:</strong>
      <% if !@client.trusted %>No<% else %>Yes<% end %>
    </p>
  </div>

  <%= link_to 'Edit', edit_client_path(@client), class: 'btn btn-default' %>
  <%= link_to 'Back', clients_path, class: 'btn btn-default' %>

</div>