<p id="notice"><%= notice %></p>

<p>
  <strong>Import:</strong>
  <%= @delivery.import %>
</p>

<p>
  <strong>Product:</strong>
  <%= @delivery.product %>
</p>

<p>
  <strong>Price:</strong>
  <%= @delivery.price %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @delivery.amount %>
</p>

<%= link_to 'Edit', edit_delivery_path(@delivery) %> |
<%= link_to 'Back', deliveries_path %>
