<div class="container">
  <h1>Imports</h1>

  <table class="table table-bordered">
    <thead>
    <tr>
      <th>Provider</th>
      <th>Total price</th>
      <th>Finished</th>
      <th colspan="2">Options</th>
    </tr>
    </thead>

    <tbody>
    <% @imports.each do |import| %>
        <tr>
          <td><%= import.provider %></td>
          <td><%= import.total_price %></td>
          <td><% if import.finished %>Yes<% else %>No<% end %></td>
          <td><%= link_to 'Details', import, {class: 'btn btn-primary bg-blue'} %></td>
          <!--<td><%= link_to 'Edit', edit_import_path(import) %></td>-->
          <td><%= link_to 'Delete', import, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger bg-red' %></td>
        </tr>
    <% end %>
    </tbody>
  </table>

  <br>

  <%= link_to 'New Import', new_import_path, {class: 'btn btn-success bg-green'} %>

</div>