<p id="notice"><%= notice %></p>

<p>
  <strong>Product:</strong>
  <%= @offer.product %>
</p>

<p>
  <strong>Sale:</strong>
  <%= @offer.sale %>
</p>

<p>
  <strong>Price:</strong>
  <%= @offer.price %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @offer.amount %>
</p>

<%= link_to 'Edit', edit_offer_path(@offer) %> |
<%= link_to 'Back', offers_path %>
