<div class="container">
  <h1>Sales</h1>

  <table class="box table table-bordered">
    <thead class="box-header">
    <tr>
      <th>Client</th>
      <th>Type name</th>
      <th>Total price</th>
      <th>Finished</th>
      <th width="20%">Options</th>
    </tr>
    </thead>

    <tbody>
    <% @sales.each do |sale| %>
        <tr>
          <td><%=  @sale.client ? @sale.client.name : 'n/a' %></td>
          <td><%= sale.type_name %></td>
          <td><%= sale.total_price %>$</td>
          <td><% if sale.finished %>Yes<% else %>No<% end %></td>
          <td><%= link_to (if sale.finished then 'Show' else 'Continue' end), sale, {class: 'btn btn-default bg-blue', style: 'min-width:100px;'} %>
          <%= link_to (if sale.finished then 'Delete' else 'Cancel' end), sale, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-default bg-red', style: 'min-width:100px;' %></td>
        </tr>
    <% end %>
    </tbody>
  </table>
</div>